<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="dtdc" class="Com.nt.Beans.DTDC" />
	<bean id="bdt" class="Com.nt.Beans.BlueDart" />
	<bean id="fFlight" class="Com.nt.Beans.FirstFlight" />
	<bean id="fpkt" class="Com.nt.Beans.Flipcart">
		<property name="bluedart" ref="bdt" />
	</bean>

</beans>
